{% extends "base.html" %}

{% block head_meta %}
        <title>Less0n - Page Not Found</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
{% endblock %}

{% block body_main %}
        <header id="main-page">
            <h4 id="n-find">Sorry, we couldn't find that page!</h4>
            <p id="not-found">
                <img src="{{ url_for('static', filename='img/oops.png') }}" alt="" height="480" width="506">
            </p>
            <div id="back-btn">
                <a class="btn btn-full" href="javascript:window.history.back();">Go Back</a>
            </div>
        </header>
{% endblock %}
