{% extends "base2.html" %}

{% block head_meta %}
    <title>Less0n - Add Course</title>
{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add-course.css') }}">
{% endblock %}

{% block body_main %}
        <header id="bg">
            <div class="card" style="width: 50rem;">
              <div id="top-addcourse"></div>
              <div class="card-body">
                <h5 class="card-title">Add Course</h5>
              </div>
              <div class="card-body">
                  <div class="section-form">
                    <div>
                        <form method="post" action="#" class="contact-form">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="course-name">Course Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" name="course-name" id="course-name" placeholder="Course name" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="course-number">Name</label>
                                </div>
                                <div class="col">
                                    <input type="text" name="course-number" id="course-number" placeholder="Course Number" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="professor-name">Professor Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" name="professor-name" id="professor-name" placeholder="Professor Name(autofill)" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="department-name">Department Name</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" name="department-name" id="department-name" placeholder="Department Name(autofill)" required>
                                </div>

                            </div>
                            
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="semester">Semester</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="semester" id="semester">
                                        <option value="fall" selected>Fall</option>
                                        <option value="spring">Spring</option>
                                        <option value="summer">Summer</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label for="campus">Campus</label>
                                </div>
                                <div class="col-sm-8">
                                    <select name="campus" id="campus">
                                        <option value="morningside" selected>Morningside</option>
                                        <option value="other">other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Prerequisites</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea name="prerequisites" placeholder="for example: (COMS W3157) or equivalent"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Syllabus</label>
                                </div>
                                <div class="col-sm-8">
                                    <textarea name="syllabus" placeholder="Syllabus"></textarea>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                
                
                
              </div>
              <div class="card-body button-addcourse">
                <button type="button" class="btn btn-secondary btn-addcourse">Cancel</button>
                <button type="button" class="btn btn-primary btn-addcourse">Submit</button>
              </div>
            </div>
        </header>
{% endblock %}