{% extends "base.html" %}

{% block head_js %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body_header %}
        <header>
            <nav class="sticky">
                <div class="row">
                    <img src="{{ url_for('static', filename='img/c-logo.jpg') }}" alt="logo" class="logo">
                    <ul class="main-nav mr-auto">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="#leadBoard">Leader board</a></li>
                        <li><a href="{{ url_for('department') }}">Department</a></li>
                    </ul>
                    <ul class="main-nav">
                        {%- if current_user.is_authenticated -%}
                        <li class="loginall"><img class="user-logo" src="{{current_user.avatar}}?sz=50" width="50" height="50" alt="{{current_user.name}}"> {{current_user.name}}</li>
                        <li><a href="{{ url_for('logout') }}?redirect={{ request.path }}">Sign out</a></li>
                        {%- else -%}
                        <li><a href="{{ url_for('login') }}?redirect={{ request.path }}">Sign in with Lionmail</a></li>
                        {%- endif -%}
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>
        </header>
{% endblock %}

{% block body_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/base2.js') }}"></script>
        {% block body2_js %}{% endblock %}
{% endblock %}
