{% extends "base.html" %}

{% block body_header %}
    <header>
        <nav class="sticky">
            <div class="row">
                <img src="{{ url_for('static', filename='img/c-logo.jpg') }}" alt="logo" class="logo">
                <ul class="main-nav mr-auto">
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#leaderboard">LeaderBoard</a></li>
                    <li><a href="#department">Department</a></li>
                </ul>
                <ul class="main-nav">
                    <li><a href="#sign-up">Sign up</a></li>
                    <li><a href="#sign-in">Sign in</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
            </div>
        </nav>
    </header>
{% endblock %}