{% extends "base2.html" %}

{% block head_meta %}
        <title>Less0n - {{ dept.name }}</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/department-course.css') }}">
{% endblock %}

{% block body_main %}
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="dept-info">
                    <h3 class="display-4">Department of {{ dept.name }}</h3>
                    <p class="lead">Website: <a href="{{ dept.url }}" target="_blank">{{ dept.url }}</a></p>
                    <form action="{{ url_for('add_new_course') }}" class="form-inline my-2 my-lg-0" method="GET">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">+ Add Course</button>
                        <input type="hidden" name="redirect" value="{{ request.path }}" />
                    </form>
                </div>
            </div>
        </div>

        <div id="sortby" class="container">
            <form>
                <select class="form-control">
                    <option>Sort by Name</option>
                    <option>Sort by Popularity</option>
                    <option>Sort by Rating</option>
                </select>
            </form>
        </div>

        <div class="container cardcol">
            <div class="row">
            {% for course, statistics in courses.items() %}
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}">{{ course.subject_id }} {{ course.number }}</a></h3>
                            <h4 class="card-title"><a href="{{ url_for('course', course_arg=course.id) }}">{{ course.name }}</a></h4>
                            <p class="card-text">Subject: {{ course.subject.name }}</p>
                            <div class="btn" data-stat-value="{{ statistics['rating'] }}">Rating: {{ '%0.2f' % statistics['rating'] if statistics['rating'] >= 0 else 'N/A' }}</div>
                            <div class="btn" data-stat-value="{{ statistics['grade'] }}">Grade: {{ '%0.2f' % statistics['grade'] if statistics['grade'] >= 0 else 'N/A' }}</div>
                            <div class="btn" data-stat-value="{{ statistics['workload'] }}">Workload: {{ '%0.2f' % statistics['workload'] if statistics['workload'] >= 0 else 'N/A' }}</div>
                            <div class="btn comment">Comments: {{ statistics['comment'] }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}

{% block body2_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/department-course.js') }}"></script>
{% endblock %}
