{% extends "base.html" %}

{% block head_meta %}
        <title>Less0n</title>
{% endblock %}

{% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body_header %}
        <script>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    // Alert notify
                    $.notify({
                        message: '{{ message }}'
                    },{
                        element: 'body',
                        position: 'fixed',
                        type: "danger",
                        allow_dismiss: true,
                        placement: {
                            from: "top",
                            align: "center"
                        },
                        offset: 60,
                        spacing: 10,
                        z_index: 1031,
                        delay: 3000,
                        timer: 1000,
                        url_target: '_blank',
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        },
                        onShow: null,
                        onShown: null,
                        onClose: null,
                        onClosed: null,
                        icon_type: 'class',
                        template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
                            '<span data-notify="icon"></span> ' +
                            '<span data-notify="title">{1}</span> ' +
                            '<span data-notify="message">{2}</span>' +
                            '<div class="progress" data-notify="progressbar">' +
                                '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                            '</div>' +
                            '<a href="{3}" target="{4}" data-notify="url"></a>' +
                        '</div>'
                    });
                {% endfor %}
              {% endif %}
            {% endwith %}
        </script>

        <header id="welcome">
            <div class="hero-text-box">
                <h1>Welcome to Less0n</h1>
                <h2>The Next Generation of Course Ratings System</h2>
                <a class="btn btn-full js--scroll-to-plans" href="#" id="start-btn">Start</a>
            </div>
        </header>
        <header id="main-page">
            <nav>
                <div class="row">
                    <img src="{{ url_for('static', filename='img/c-logo.jpg') }}" alt="logo" class="logo1">
                    <ul class="main-nav nav-left mr-auto">
                        <li><a class="active" href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="#leadBoard">Leader board</a></li>
                        <li><a href="{{ url_for('department') }}">Department</a></li>
                    </ul>
                    <ul class="main-nav">
                        {%- if current_user.is_authenticated -%}
                        <li class="loginall1"><img class="user-logo" src="{{current_user.avatar}}?sz=50" width="50" height="50" alt="{{current_user.name}}"> {{current_user.name}}</li>
                        <li><a href="{{ url_for('logout') }}">Sign out</a></li>
                        {%- else -%}
                        <li><a href="{{ url_for('login') }}?redirect={{ request.path }}">Sign in with Lionmail</a></li>
                        {%- endif -%}
                    </ul>
                    <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
                </div>
            </nav>

            <section class="search-area">
                <div class="search-back">
                    <div class="search-text">
                        Search courses/professors
                    </div>
                    <input type="text" name="search" class="search" placeholder="Course Name/Professor" required>
                    <div class="search-icon">
                        <i class="ion-ios-search-strong"></i>
                    </div>
                </div>

            </section>

        </header>
{% endblock %}

{% block body_js %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
