<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
    </head>
    <body>
        <form id="form1" name="form1" method="post" action="">    
        <h3>Pending Course</h3>    
        <table width="698" border="0" cellpadding="0" cellspacing="0" id="tabProduct">    
            <tr>    
              <td Name="Num"></td>    
              <td Name="Num" EditType="TextBox">Course Num</td>    
              <td Name="ProductName" EditType="TextBox">Course Name</td>    
              <td Name="Amount" EditType="TextBox">Department</td>    
              <td Name="Price" EditType="TextBox">Subject</td>    
              <td Name="SumMoney">Aprove</td>    
            </tr> 
            
            <tr>    
              <td><input type="checkbox" name="checkbox2" value="checkbox"></td>    
              <td>COMS4170</td>    
              <td>AI</td>    
              <td>COMS</td>    
              <td>COMS</td>    
              <td><input type="button" name="Submit" value="approve"><input type="button" name="Submit2" value="Decline"> </td>
            </tr>
            <tr>    
              <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>    
              <td>COMS4170</td>    
              <td>AI</td>    
              <td>COMS</td>    
              <td>COMS</td>    
              <td><input type="button" name="Submit" value="approve"><input type="button" name="Submit" value="Decline"></td>    
            </tr>
                
        </table>        
        </form>
        <form id="form2" name="form2" method="post" action="">    
        <h3>Pending Teacher</h3>    
        <table width="698" border="0" cellpadding="0" cellspacing="0" id="tabProduct1">    
            <tr>    
              <td Name="Num"></td>    
              <td Name="Num" EditType="TextBox">Teacher Name</td>    
              <td Name="ProductName" EditType="TextBox">Teacher Department</td>       
              <td Name="SumMoney">Aprove</td>    
            </tr> 
            
            <tr>    
              <td><input type="checkbox" name="checkbox2" value="checkbox"></td>    
              <td>Ewan Lowe</td>    
              <td>COMS</td>        
              <td><input type="button" name="Submit" value="approve"><input type="button" name="Submit2" value="Decline"> </td>
            </tr>
            <tr>    
              <td><input type="checkbox" name="checkbox2" value="checkbox"></td>    
              <td>Ewan Lowe</td>    
              <td>COMS</td>        
              <td><input type="button" name="Submit" value="approve"><input type="button" name="Submit2" value="Decline"> </td>
            </tr>
                
        </table>        
        </form>
    <script src="../static/js/pendingm.js"></script> 
    </body>  
    
</html>