header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../img/background-img.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/background-img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
/*    position: relative;*/
}

#not-found{
    font-size: 13em;
    margin: 0px;
    padding: 0px;
/*    height: 300px;*/
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 50px;
}

@media screen and (max-width: 767px) {
    #not-found{
        font-size: 11em;
        letter-spacing: 20px;
    }
}

@media screen and (max-width: 480px) {
    #not-found{
        font-size: 10em;
        letter-spacing: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#n-find{
    text-align: center;
    margin-top: 250px;
    color: #fff;
    margin-bottom: -80px;
}

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

#back-btn{
    margin-top: -50px;
    text-align: center;
    left: 50%;
}
