.contact-form {
    width: 60%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 300;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}

/*header*/
.comment-bar{
    height: 130px;
    background-color: #343332;
    color: #d9d9d9;
    font-weight: 300;
}
#professor{
    position: relative;
    float: left;
    font-size: 25px;
    margin-left: 100px;
    margin-top: -10px;
}
#professor-selection{
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}

.comment-classname{
    font-size: 30px;
    margin-top: 20px;
    margin-left: 100px;
}

.close-icon{
    vertical-align: middle;
    margin-top: -80px;
    font-size: 30px;
    margin-right: 20px;
    color: #fff;
    
}


/*comment form*/

.section-form h2{
    text-align: center;
    font-size: 20px;
    font-weight: 300;
}

/*footer*/
.comment-footer{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
}
