/*font*/
/*colors*/
/*mixins*/
/*progrss bar animation*/
@-webkit-keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 50%; } }
@keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 50%; } }
@-webkit-keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 70%; } }
@keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 70%; } }
@-webkit-keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 80%; } }
@keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 80%; } }
body {
  background-color: white;
  font-family: "Lato", "Arial", sans-serif !important; }
  body nav {
    margin: 0 !important; }
  body .jumbotron {
    background-color: #FFEC8B;
    height: 380px; }
    body .jumbotron .container .course-title {
      float: left; }
    body .jumbotron .container .course-info {
      float: right;
      margin-top: 20px; }
  body .statistics {
    position: relative;
    top: -150px;
    color: white;
    background: #3D3D3D;
    -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2); }
    body .statistics .stats_box {
      -webkit-box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      body .statistics .stats_box .stats_box_content {
        padding: 30px; }
      body .statistics .stats_box #faculty_choice img {
        border-radius: 60px;
        width: 120px;
        height: 120px;
        border: 5px solid white;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      body .statistics .stats_box #faculty_choice i {
        font-size: 40px;
        color: #4FA584;
        line-height: 120px;
        text-align: center;
        vertical-align: middle;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      body .statistics .stats_box #faculty_choice h4 {
        text-align: center;
        padding-top: 30px; }
      body .statistics .stats_box #tag_list .tags a {
        border-radius: 2px;
        color: white;
        margin: 0 3px 6px 0;
        padding: 5px 10px;
        display: inline-block; }
      body .statistics .stats_box #tag_list .tags a.primary {
        background-color: #428BCA;
        border-color: #357EBD; }
      body .statistics .stats_box #tag_list .tags a.success {
        background-color: #5CB85C;
        border-color: #4CAE4C; }
      body .statistics .stats_box #tag_list .tags a.info {
        background-color: #5BC0DE;
        border-color: #46B8DA; }
      body .statistics .stats_box #tag_list .tags a.warning {
        background-color: #F0AD4E;
        border-color: #EEA236; }
      body .statistics .stats_box #tag_list .tags a.danger {
        background-color: #D9534F;
        border-color: #D43F3A; }
      body .statistics .stats_box #bar_stats .progress {
        height: 6px;
        background: rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        margin-bottom: 15px; }
        body .statistics .stats_box #bar_stats .progress .progress_bar {
          float: left;
          border-radius: 2px; }
        body .statistics .stats_box #bar_stats .progress #rating_progress_bar {
          -webkit-animation-name: rating_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: rating_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: rating_progress_bar;
          -o-animation-duration: 2s;
          animation-name: rating_progress_bar;
          animation-duration: 2s;
          width: 50%;
          background: #FFD700; }
        body .statistics .stats_box #bar_stats .progress #grade_progress_bar {
          -webkit-animation-name: grade_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: grade_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: grade_progress_bar;
          -o-animation-duration: 2s;
          animation-name: grade_progress_bar;
          animation-duration: 2s;
          width: 70%;
          background: #4FA584; }
        body .statistics .stats_box #bar_stats .progress #workload_progress_bar {
          -webkit-animation-name: workload_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: workload_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: workload_progress_bar;
          -o-animation-duration: 2s;
          animation-name: workload_progress_bar;
          animation-duration: 2s;
          width: 80%;
          background: #EE3B3B; }
  body .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    position: relative;
    top: -100px;
    max-height: 100vh;
    overflow: auto; }
    body .card-columns .good {
      border-left: 7px solid #4FA584; }
    body .card-columns .neutral {
      border-left: 7px solid #FFD700; }
    body .card-columns .bad {
      border-left: 7px solid #EE3B3B; }
    body .card-columns .card {
      margin: 10px 0;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1); }
      body .card-columns .card .list-group {
        border: none;
        font-size: 15px; }
      body .card-columns .card .fa-star {
        color: #FFB90F; }
      body .card-columns .card .fa-pencil {
        color: #B0171F; }
