/*font*/
/*size*/
/*colors*/
body .statistics .stats_box #tag_list .tags a.primary {
  background-color: #428BCA;
  border-color: #357EBD; }

body .statistics .stats_box #tag_list .tags a.success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }

body .statistics .stats_box #tag_list .tags a.info {
  background-color: #5BC0DE;
  border-color: #46B8DA; }

body .statistics .stats_box #tag_list .tags a.warning {
  background-color: #F0AD4E;
  border-color: #EEA236; }

body .statistics .stats_box #tag_list .tags a.danger {
  background-color: #D9534F;
  border-color: #D43F3A; }

/*mixins*/
/*progrss bar animation*/
body {
  background-color: white;
  font-family: "Lato", "Arial", sans-serif !important; }
  body .jumbotron {
    background-color: #FFEC8B;
    height: 450px; }
    body .jumbotron .container {
      margin-top: 50px; }
      body .jumbotron .container .course-title {
        max-width: 70%;
        overflow: auto;
        float: left; }
        body .jumbotron .container .course-title h3 {
          font-weight: lighter; }
        body .jumbotron .container .course-title h1 {
          font-weight: lighter; }
      body .jumbotron .container .course-info {
        float: right;
        margin-top: 20px;
        max-width: 25%;
        overflow: auto; }
        body .jumbotron .container .course-info a {
          color: black; }
        body .jumbotron .container .course-info a:hover {
          color: darkslateblue;
          text-decoration: none; }
  body .statistics {
    position: relative;
    top: -170px;
    color: white;
    background: #3D3D3D;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2); }
    body .statistics .stats_box {
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center; }
      body .statistics .stats_box .stats_box_content {
        padding: 30px; }
      body .statistics .stats_box #faculty_choice img {
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        -ms-border-radius: 60px;
        border-radius: 60px;
        width: 120px;
        height: 120px;
        border: 5px solid white;
        display: block;
        margin-left: auto;
        margin-right: auto; }
      body .statistics .stats_box #faculty_choice button {
        background: transparent;
        border: none;
        text-align: center;
        vertical-align: middle;
        display: block;
        margin-left: auto;
        margin-right: auto; }
        body .statistics .stats_box #faculty_choice button i {
          font-size: 40px;
          color: #4FA584;
          line-height: 120px; }
      body .statistics .stats_box #faculty_choice h4 {
        text-align: center;
        padding-top: 30px; }
      body .statistics .stats_box #tag_list .tags a {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        border-radius: 2px;
        color: white;
        margin: 0 3px 6px 0;
        padding: 5px 10px;
        display: inline-block; }
      body .statistics .stats_box #bar_stats .progress {
        height: 6px;
        background: rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        margin-bottom: 15px; }
        body .statistics .stats_box #bar_stats .progress .progress_bar {
          float: left;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px; }
        body .statistics .stats_box #bar_stats .progress #rating_progress_bar {
          -webkit-animation-name: rating_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: rating_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: rating_progress_bar;
          -o-animation-duration: 2s;
          animation-name: rating_progress_bar;
          animation-duration: 2s;
          width: 50%;
          background: #FFD700; }
        body .statistics .stats_box #bar_stats .progress #grade_progress_bar {
          -webkit-animation-name: grade_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: grade_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: grade_progress_bar;
          -o-animation-duration: 2s;
          animation-name: grade_progress_bar;
          animation-duration: 2s;
          width: 70%;
          background: #4FA584; }
        body .statistics .stats_box #bar_stats .progress #workload_progress_bar {
          -webkit-animation-name: workload_progress_bar;
          -webkit-animation-duration: 2s;
          -moz-animation-name: workload_progress_bar;
          -moz-animation-duration: 2s;
          -o-animation-name: workload_progress_bar;
          -o-animation-duration: 2s;
          animation-name: workload_progress_bar;
          animation-duration: 2s;
          width: 80%;
          background: #EE3B3B; }
  body #add-comment {
    float: left;
    width: 200px;
    position: relative;
    top: -130px; }
  body #sortby form {
    width: 230px;
    position: relative;
    top: -130px;
    left: 0;
    float: right; }
  body .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    position: relative;
    top: -100px;
    max-height: 100vh;
    overflow: auto;
    clear: both; }
    body .card-columns .good {
      border-left: 7px solid #4FA584; }
    body .card-columns .neutral {
      border-left: 7px solid #FFD700; }
    body .card-columns .bad {
      border-left: 7px solid #EE3B3B; }
    body .card-columns .card {
      margin: 10px 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1); }
      body .card-columns .card .list-group {
        border: none;
        font-size: 15px; }
      body .card-columns .card .fa-star {
        color: #FFB90F; }
      body .card-columns .card .fa-pencil {
        color: #B0171F; }

/*# sourceMappingURL=course-detail.css.map */
