.nav-child{
    margin-top: 60px;
    max-width: 1140px;
    margin: 60px auto;
    margin-bottom: 0px;
    background-color: #fff !important;
    padding-left: 6px;
    padding-right: 0;
    border-bottom: 2px solid #eae9e9;
}

#sort-alphabetical,
#sort-school{
    max-width: 1140px;
    margin: 10px auto;
    text-align: center;
}

#sort-alphabetical a,
#sort-school a{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 300;
}

/*department card*/
#alphabetical-card,
#school-card{
    max-width: 1140px;
    margin: 10px auto;
}
.card{
    width: 350px;
    display: inline-block;
    border-radius:5px;
    border-left: 2px solid #e67e22;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 3px 3px #efefef;
    box-shadow: 0 3px 3px #efefef;
    height: 120px;
    
}

.selected{
    color: #e67e22 !important;
}


.card-title{
    font-size: 20px;
    font-weight: 300;
}

.btn{
   font-weight: 300; 
}

.btn-card{
    background-color: #e4e4e4;
    border: none;
}