/*font*/
/*size*/
/*colors*/
body .statistics .stats_box #tag_list .tags a.primary {
  background-color: #428BCA;
  border-color: #357EBD; }

body .statistics .stats_box #tag_list .tags a.success {
  background-color: #5CB85C;
  border-color: #4CAE4C; }

body .statistics .stats_box #tag_list .tags a.info {
  background-color: #5BC0DE;
  border-color: #46B8DA; }

body .statistics .stats_box #tag_list .tags a.warning {
  background-color: #F0AD4E;
  border-color: #EEA236; }

body .statistics .stats_box #tag_list .tags a.danger {
  background-color: #D9534F;
  border-color: #D43F3A; }

/*mixins*/
/*progrss bar animation*/
@-webkit-keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-moz-keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-o-keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@keyframes rating_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-webkit-keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-moz-keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-o-keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@keyframes grade_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 90%; } }
@-webkit-keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 30%; } }
@-moz-keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 30%; } }
@-o-keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 30%; } }
@keyframes workload_progress_bar {
  0% {
    width: 0px; }
  100% {
    width: 30%; } }
body {
  background-color: white;
  font-family: "Lato", "Arial", sans-serif !important; }
  body .jumbotron {
    background-color: #8EE5EE;
    height: 450px; }
    body .jumbotron .container {
      margin-top: 50px; }
      body .jumbotron .container .course-title {
        float: left; }
      body .jumbotron .container .faculty-pic img {
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        border-radius: 20px;
        width: 240px;
        height: 240px;
        border: 5px solid white;
        display: block;
        float: left;
        position: relative;
        top: 20px; }
      body .jumbotron .container .faculty-info {
        float: left;
        margin: 10px 0 0 60px; }
  body .statistics {
    position: relative;
    top: -180px;
    color: white;
    background: #3D3D3D;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 49%;
    margin-left: 34%; }
    body .statistics .stats_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0; }
      body .statistics .stats_box .stats_box_content {
        padding: 30px; }
      body .statistics .stats_box #tag_list {
        padding-left: 45px; }
        body .statistics .stats_box #tag_list .tags a {
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          border-radius: 2px;
          color: white;
          margin: 0 3px 6px 0;
          padding: 5px 10px;
          display: inline-block; }
      body .statistics .stats_box #bar_stats {
        box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
        padding-right: 45px; }
        body .statistics .stats_box #bar_stats .progress {
          height: 6px;
          background: rgba(0, 0, 0, 0.3);
          margin-top: 10px;
          margin-bottom: 15px; }
          body .statistics .stats_box #bar_stats .progress .progress_bar {
            float: left;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            border-radius: 2px; }
          body .statistics .stats_box #bar_stats .progress #rating_progress_bar {
            -webkit-animation-name: rating_progress_bar;
            -webkit-animation-duration: 2s;
            -moz-animation-name: rating_progress_bar;
            -moz-animation-duration: 2s;
            -o-animation-name: rating_progress_bar;
            -o-animation-duration: 2s;
            animation-name: rating_progress_bar;
            animation-duration: 2s;
            width: 90%;
            background: #FFD700; }
          body .statistics .stats_box #bar_stats .progress #grade_progress_bar {
            -webkit-animation-name: grade_progress_bar;
            -webkit-animation-duration: 2s;
            -moz-animation-name: grade_progress_bar;
            -moz-animation-duration: 2s;
            -o-animation-name: grade_progress_bar;
            -o-animation-duration: 2s;
            animation-name: grade_progress_bar;
            animation-duration: 2s;
            width: 90%;
            background: #4FA584; }
          body .statistics .stats_box #bar_stats .progress #workload_progress_bar {
            -webkit-animation-name: workload_progress_bar;
            -webkit-animation-duration: 2s;
            -moz-animation-name: workload_progress_bar;
            -moz-animation-duration: 2s;
            -o-animation-name: workload_progress_bar;
            -o-animation-duration: 2s;
            animation-name: workload_progress_bar;
            animation-duration: 2s;
            width: 30%;
            background: #EE3B3B; }
  body #sortby form {
    width: 230px;
    position: relative;
    top: -215px; }
  body .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    position: relative;
    top: -170px;
    max-height: 100vh;
    overflow: auto; }
    body .card-columns .border-good {
      border-top: 10px solid #e67300; }
    body .card-columns .border-neutral {
      border-top: 10px solid #ffa64d; }
    body .card-columns .border-bad {
      border-top: 10px solid #ffbf80; }
    body .card-columns .card {
      margin: 10px 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1); }
      body .card-columns .card .card-text {
        color: #808080; }
      body .card-columns .card .btn {
        color: white;
        cursor: auto;
        margin-top: 8px; }
      body .card-columns .card .good {
        background-color: #4FA584; }
      body .card-columns .card .neutral {
        background-color: #FFD700; }
      body .card-columns .card .bad {
        background-color: #EE3B3B; }
      body .card-columns .card .comment {
        background-color: #5CACEE; }
      body .card-columns .card .list-group {
        border: none;
        font-size: 15px; }

/*# sourceMappingURL=faculty-page.css.map */
