
@media only screen and (max-width: 1200px) {
        .search-back{
            width: 900px;
        }
        .search{
            width: 680px;
        }

}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
        h1{
            font-size: 380%;
        }
        h2 {
            font-size: 100%;
        }
        .search-back{
            width: 700px;
        }
        .search{
            width: 480px;
        }

}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
        h1{
            font-size: 250%;
        }
        h2{
            font-size: 80%;
        }
        .btn:link,
        .btn:visited,
        input[type=submit] {
            padding: 1px 3px;
            width: 80px;
            font-size: 80%;

        }
        .btn-full:link,
        .btn-full:visited,
        input[type=submit] {
            padding: 1px 3px;
            height: 30px;
            width: 80px;
            font-size: 80%;
        }
        .search-back{
            width: 451px;
        }
        .search{
            width: 280px;
            font-size: 80%;
            height: 40px;
        }
        .custom-select {
            width: 130px;
            height: 40px;
            font-size: 80%;
            padding: 0px;
        }
        .select-selected {
            height: 40px;
            width: 130px;
            margin-top: -1px;
            margin-left: -1px;
        }
        /*style the arrow inside the select element:*/
        .select-selected:after {
            margin-top: 12px;
        }
        /*style items (options):*/
        .select-items {
            width: 130px;
            margin-left: -1px;
        }
        .search-icon button{
            display: inline-block;
            height: 41px;
            width: 41px;
        }

        .search-icon button i{
            position: relative;
            top: -15px;
            font-size: 25px;
            color: white;
        }


}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
        h1{
            font-size: 200%;
        }
        h2{
            font-size: 60%;
        }
        .search-back{
            width: 371px;
        }
        .search{
            width: 230px;
            font-size: 80%;
            height: 40px;
        }
        .custom-select {
            width: 100px;
            height: 40px;
            font-size: 80%;
            padding: 0px;
        }
        .select-selected {
            height: 40px;
            width: 100px;
            margin-top: -1px;
            margin-left: -1px;
            /*padding: 0px;*/
        }
        /*style the arrow inside the select element:*/
        .select-selected:after {
            margin-top: 12px;
        }
        /*style items (options):*/
        .select-items {
            width: 130px;
            margin-left: -1px;
        }
        .search-icon button{
            display: inline-block;
            height: 41px;
            width: 41px;
        }

        .search-icon button i{
            position: relative;
            top: -15px;
            font-size: 25px;
            color: white;
        }

}

@media only screen and (max-width: 400px) {
        h1{
            font-size: 180%;
        }
        h2{
            font-size: 50%;
        }
        .search-back{
            width: 351px;
        }
        .search{
            width: 220px;
            font-size: 70%;
            height: 40px;
        }
        .custom-select {
            width: 90px;
            height: 40px;
            font-size: 70%;
            padding: 0px;
        }
        .select-selected {
            height: 40px;
            width: 100px;
            margin-top: -1px;
            margin-left: -1px;
            /*padding: 0px;*/
        }
        /*style the arrow inside the select element:*/
        .select-selected:after {
            margin-top: 12px;
        }
        /*style items (options):*/
        .select-items {
            width: 130px;
            margin-left: -1px;
        }
        .search-icon button{
            display: inline-block;
            height: 41px;
            width: 41px;
        }

        .search-icon button i{
            position: relative;
            top: -10px;
            font-size: 25px;
            color: white;
        }

}

