.nav-child{
    margin-top: 60px;
    max-width: 1140px;
    margin: 60px auto;
    margin-bottom: 0px;
    background-color: #fff !important;
    padding-left: 6px;
    padding-right: 0;
    border-bottom: 2px solid #eae9e9;
}

#sort-alphabetical,
#sort-school{
    max-width: 1140px;
    margin: 10px auto;
    text-align: center;
}

#sort-alphabetical a,
#sort-school a{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 300;
}

/*department card*/
#department-card,
#subject-card,
#professor-card,
#course-card{
    max-width: 1140px;
    margin: 0px auto;
    margin-top: 20px;
}

.card{
    width: 350px;
    display: inline-block;
    border-radius:5px;
    border-left: 2px solid #e67e22;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 3px 3px #efefef;
    box-shadow: 0 3px 3px #efefef;
    height: 120px;   
}

.selected{
    color: #e67e22 !important;
}


.card-title{
    font-size: 20px;
    font-weight: 300;
    
}

.btn{
   font-weight: 300; 
}

.btn-card{
    background-color: #55affc;
    border: none;
}

.card-body-p{
    float: left;
    margin: 25px 0px;
}

.p-photo{
    border-radius: 90px;
    float: left;
    margin: 15px 20px;
}

.nav-buttom{
    margin-top: 20px;
}

.c-number{
    width: 300px;
    font-size: 20px;
    margin: 0;
    overflow: hidden;
}
.c-name{
    font-size: 20px;
    margin: 0;
    width: 300px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.c-subject{
    color: #d1d1d1;
    width: 300px;
    height: 30px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    margin-top:0px;
}

.d-name, 
.s-name{
    width: 300px;
    height: 25px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

.p-name,
.p-department{
    width: 200px;
    height: 25px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}