<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="queries.css">
        <title>Homepage-Less0n</title>
    </head>
    <body>
        <header>
            <nav class="sticky">
                <div class="row">
                    <i class="ion-heart" id="logo"></i>
                    <ul class="main-nav">
                        <li> <a href="#">Sign In</a></li>
                        <li> <a href="#">Sign Up</a></li> 
                    </ul> 
                </div>
            
            </nav>
            <section class="search-area">
                <div class="search-back">
                    <div class="search-text">
                        Search courses/professors
                    </div>
                    <input type="text" name="search" class="search" placeholder="Course Name/Professor" required>
                    <div class="search-icon">
                        <i class="ion-ios-search-strong"></i>
                    </div>
                </div>

            </section>
            <section class="source-icon"> 
                <div class="leaderboard col-lg-4 col-md-4">
                    <div class="lb-icon">
                        <i class="ion-trophy"></i>
                    </div>
                    <p class="leaderboard-text">Leaderboard</p>
                </div>
                <div class="addcourse  col-lg-4 col-md-4">
                    <div class="add-icon">
                        <i class="ion-plus"></i>
                    </div>
                    <p class="addcourse-text">Add a Course</p>
                </div>
                <div class="department col-lg-4 col-md-4">
                    <div class="d-icon">
                        <i class="ion-university"></i>
                    </div>
                    <p class="department-text">Department</p>
                </div>
            </section>
        </header>
        
        
    
    </body>
    
</html>


