@import "style-variables";

body {
  font-family: $lato !important;

  form {
    margin: 100px;
  }

  .jumbotron {
  	background-color: $red;
  	height: $jumbotron;

    .container {
      margin-top: 60px;

      .course-title {
        max-width: 100%;
        overflow: auto;
        float: left;

        .display-5 {
          font-weight: lighter;
          margin-top: 20px;
        }
      }
    }
  }

  .statistics {
  	position: relative;
  	top: -170px;
    color: white;
    background: $dark;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    .stats_box {
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;

      .tabcontent {
        margin: 30px;
        overflow: auto;
        white-space: nowrap;

        h3 {
          margin-bottom: 35px;
        }


        table {

          th {
            color: #e67e22;
            font-size: 20px;
            width: 120px;
          }

          td {
            height: 40px;
            line-height: 40px;
            font-size: 18px;
            overflow: hidden;

            input {
              height: 30px;
              line-height: 30px;
              width: 90px;
            }

            button {
              margin-right: 5px;
              width: 30px;
              height: 30px;

              i {
                font-size: 20px;
                position: relative;
                top: -3px;
                left: -7px;
              }
            }
          }
        }
      }
    }

    .tab button {
      padding: 30px;
      margin: 0;
      width: 100%;
      border: none !important;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.2s;
      font-size: 20px;
      background-color: transparent;
      color: white;
      height: 100%;
    }

    .tab button.active, .tab button:hover {
      background-color: #e67e22;
      color: white;
    }
  }
}