@import "style-variables";

$rating_width: 50%;
$grade_width: 70%;
$workload_width: 80%;

/*progrss bar animation*/
@mixin keyframe($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin progress-bar($bar_name, $time) {
  -webkit-animation-name: $bar_name; 
  -webkit-animation-duration: $time;
  -moz-animation-name: $bar_name;
  -moz-animation-duration: $time;
  -o-animation-name: $bar_name; 
  -o-animation-duration: $time;
  animation-name: $bar_name; 
  animation-duration: $time;
}

@include keyframe(rating_progress_bar) {
  0% {
      width: 0px;
  }

  100% {
      width: $rating_width;
  }
}

@include keyframe(grade_progress_bar) {
  0% {
      width: 0px;
  }

  100% {
      width: $grade_width;
  }
}

@include keyframe(workload_progress_bar) {
  0% {
      width: 0px;
  }

  100% {
      width: $workload_width;
  }
}

body {
  background-color: white;
  font-family: $lato !important;

  nav {
  	margin: 0 !important;
  }

  .jumbotron {
  	background-color: $yellow;
  	height: 450px;

    .container {
    margin-top: 50px;
      .course-title {
        float: left;
      }

      .course-info {
        float: right;
        margin-top: 20px;
      }
    }
  }

  .statistics {
  	position: relative;
  	top: -150px;
    color: white;
    background: $dark;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    .stats_box {
      box-shadow: -3px 0px rgba(255, 255, 255, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;

      .stats_box_content {
        padding: 30px;
      }

      #faculty_choice {
        img {
          @include border-radius(60px);
          width: 120px;
          height: 120px;
          border: 5px solid white;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        i {
          font-size: 40px;
          color: $green;
          line-height: 120px;
          text-align: center;
          vertical-align: middle;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

        h4 {
          text-align: center;
          padding-top: 30px;
        }
      }

      #tag_list {
        .tags a {
          @include border-radius(2px);
          color: white;
          margin: 0 3px 6px 0;
          padding: 5px 10px;
          display: inline-block;
        }

        .tags a.primary {
          background-color: #428BCA;
          border-color: #357EBD
        }

        .tags a.success {
          background-color: #5CB85C;
          border-color: #4CAE4C
        }
        .tags a.info {
          background-color: #5BC0DE;
          border-color: #46B8DA;
        }
        .tags a.warning {
          background-color: #F0AD4E;
          border-color: #EEA236;
        }
        .tags a.danger{
          background-color: #D9534F;
          border-color: #D43F3A;
        }
      }

      #bar_stats {
        .progress {
          height: 6px;
          background: rgba(0, 0, 0, 0.3);
          margin-top: 10px;
          margin-bottom: 15px;
        
          .progress_bar {
            float: left;
            @include border-radius(2px);
          }

          #rating_progress_bar {
            @include progress-bar(rating_progress_bar, 2s);
            width: $rating_width;
            background: $neutral;
          }

          #grade_progress_bar {
            @include progress-bar(grade_progress_bar, 2s);
            width: $grade_width;
            background: $good;
          }

          #workload_progress_bar {
            @include progress-bar(workload_progress_bar, 2s);
            width: $workload_width;
            background: $bad;
          }
        }
      }
    }
  }

  .card-columns {
    @include content-columns(3);
    position: relative;
    top: -100px;
    max-height: 100vh;
    overflow: auto;

    .good {
      border-left: 7px solid $good;
    }

    .neutral {
      border-left: 7px solid $neutral;
    }

    .bad {
      border-left: 7px solid $bad;
    }

    .card {
      margin: 10px 0;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.1);

      .list-group {
        border: none;
        font-size: 15px;
      }

      .fa-star {
        color: $star;
      }

      .fa-pencil {
        color: $workload;
      }
    }
  }
}

